#Spring Profile
SPRING_PROFILES_ACTIVE=local

# Server Port
PORT=8080

# Base DB connection
DB_HOST=
DB_PORT=
DB_NAME=

# Runtime Application User
DB_APP_USERNAME=
DB_APP_PASSWORD=

# Migration User (Flyway)
DB_MIGRATION_USERNAME=
DB_MIGRATION_PASSWORD=

# Readonly User
DB_READONLY_USERNAME=
DB_READONLY_PASSWORD=

# OpenAI
AI_OPENAI_API_KEY=

# Supabase Auth
SUPABASE_URL=
SUPABASE_SECRET_KEY=

# Grafana Loki Logging
LOKI_URL=
LOKI_USERNAME=
LOKI_API_KEY=

# Grafana OTLP
GRAFANA_OTLP_URL=
GRAFANA_OTLP_AUTH_TOKEN=