server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: lovingapp
    static_configs:
      - targets:
          - localhost
        labels:
          job: lovingapp
          app: loving
          __path__: /app/logs/*.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            logger: logger
            message: message
            mdc: mdc
            request_id: mdc.request_id
            user_id: mdc.user_id
      - labels:
          request_id:
          user_id:
      - output:
          source: message
