<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- App Properties -->

  <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="loving-backend"/>
  <springProperty scope="context" name="ENV" source="spring.profiles.active" defaultValue="local"/>

  <!-- Console Appender -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} [requestId=%X{requestId} correlationId=%X{correlationId} userId=%X{userId}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- Default Root (Fallback) -->

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  
  <!-- Local Profile -->

  <springProfile name="local">
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- Test Profile -->

  <springProfile name="test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- Prod -->

  <springProfile name="prod">
    <!-- Loki Appender (enabled only in non-local, non-test environments) -->

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">

      <http>
        <url>${LOKI_URL}</url>

        <auth>
          <username>${LOKI_USERNAME}</username>
          <password>${LOKI_API_KEY}</password>
        </auth>
      </http>

      <format>

        <!-- Labels = indexed fields (keep LOW cardinality) -->
        <label>
          <pattern>
            app=${APP_NAME},
            env=${ENV},
            level=%level
          </pattern>
        </label>

        <!-- Message = searchable payload -->
        <message>
          <pattern>
            %msg
            | requestId=%X{requestId}
            | correlationId=%X{correlationId}
            | userId=%X{userId}
          </pattern>
        </message>
      </format>

    </appender>

    <!-- Async Wrapper For Loki -->

    <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>512</queueSize>
      <discardingThreshold>0</discardingThreshold>
      <neverBlock>true</neverBlock>
      <appender-ref ref="LOKI"/>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="ASYNC_LOKI"/>
    </root>
  </springProfile>

</configuration>
