<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Common properties -->
  <property name="APP_NAME" value="loving-app"/>

  <!-- Common appenders -->

  <!-- Console logging -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- Loki appender -->
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>${LOKI_URL}</url>

      <auth>
        <username>${LOKI_USERNAME}</username>
        <password>${LOKI_API_KEY}</password>
      </auth>
    </http>

    <format>
      <label>
        <pattern>
          app=${APP_NAME},
          env=${SPRING_PROFILES_ACTIVE:-local},
          level=%level
        </pattern>
      </label>

      <message>
        <pattern>%msg</pattern>
      </message>
    </format>
  </appender>
  
  <!-- Fallback root (used before Spring profiles resolve) -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  
  <!-- LOCAL profile -->
  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="LOKI"/>
    </root>
  </springProfile>

  <!-- TEST profile-->
  <springProfile name="test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- EVERYTHING ELSE -->
  <springProfile name="!local &amp; !test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="LOKI"/>
    </root>
  </springProfile>

</configuration>
